@use "../variables" as *;
@use "../mixins" as *;

.invitation {
    .content {
        font-family: $blushing-rose-font;
        width: 100%;
        font-weight: 300;
        .text-box {
            padding: 10% 8% 20%;
            text-align: left;
            letter-spacing: 1px;    
            line-height: 1.3;

            .initials {
                h2 {
                    font-size: 70px;  
                    span {
                        font-size: 30px;
                    }
                }
            }

            .family-info {
                margin-top: 15%;
                p {
                    font-size: 11px;
                }
                p.en  {
                    margin-top: 4%;
                }
            }

            .invitation-text {
                margin-top: 5%;
                p {
                    font-size: 11px;
                }
                p.en {
                    margin-top: 4%;
                    margin-bottom: 15%;
                }
            }
            .couple-info {
                text-transform: uppercase;
                margin-top: 10%;
                h2 {
                    font-size: 26px;
                    font-weight: 300;
                    letter-spacing: 2px;
                }
                .divider-couple {
                    font-size: 20px;
                }
                p.role {
                    font-size: 11px;
                }

                p.divider {
                    margin-bottom: 10%;
                }
            }
        }

        .image-box {
            width: 100%;
            aspect-ratio: 500 / 812;
            background: linear-gradient(to bottom, #e8e6d9ff, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
                url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/huy-tra/IMG_4984.webp') no-repeat center / cover;

            h2 {
                font-family: $blushing-rose-font;
                font-size: 56px;
                font-weight: 100;
                margin-top: 5%;
            }
        }
    }

    &.parent {
        .content {
            .text-box {
                padding: 10% 8% 20%;
                .initials {
                    h2 {
                        font-size: 74px;  
                        span {
                            font-size: 34px;
                        }
                    }
                }
    
                .family-info, .invitation-text {
                    p {
                        font-size: 21px;
                    }
                }
    
                .couple-info {
                    h2 {
                        font-size: 30px;
                    }
                    .divider-couple {
                        font-size: 24px;
                    }
                }
            }
    
            .image-box {
                h2 {
                    font-size: 60px;
                }
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .text-box {
                letter-spacing: calc((1 / 500) * 100vw);  

                .initials {
                    h2 {
                        font-size: calc((70 / 500) * 100vw);  
                        span {
                            font-size: calc((30 / 500) * 100vw);  
                        }
                    }
                }

                .family-info {
                    p {
                        font-size: calc((11 / 500) * 100vw);  
                    }
                }
    
                .invitation-text {
                    p {
                        font-size: calc((11 / 500) * 100vw);  
                    }
                }
    
                .couple-info {
                    h2 {
                        font-size: calc((26 / 500) * 100vw);  
                        letter-spacing: calc((2 / 500) * 100vw);  
                    }
                    .divider-couple {
                        font-size: calc((20 / 500) * 100vw);
                    }
                    p.role {
                        font-size: calc((11 / 500) * 100vw);  
                    }
                }
            }

            .image-box {
                h2 {
                    font-size: calc((56 / 500) * 100vw);
                }
            }
        }

        &.parent {
            .content {
                .text-box {
                    .initials {
                        h2 {
                            font-size: calc((74 / 500) * 100vw);;  
                            span {
                                font-size: calc((34 / 500) * 100vw);;
                            }
                        }
                    }
        
                    .family-info, .invitation-text {
                        p {
                            font-size: calc((21 / 500) * 100vw);;
                        }
                    }
        
                    .couple-info {
                        h2 {
                            font-size: calc((30 / 500) * 100vw);;
                        }
                        .divider-couple {
                            font-size: calc((24 / 500) * 100vw);;
                        }
                    }
                }
        
                .image-box {
                    h2 {
                        font-size: calc((60 / 500) * 100vw);;
                    }
                }
            }
        }
    }
}